.promise-dialog__root,
.promise-dialog__root* {
  box-sizing: border-box;
  font-size: 16px;
}

.promise-dialog__layer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .5);
  color: #333;
}

.promise-dialog__dialog {
  min-width: 240px;
  max-width: 300px;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
}

.promise-dialog__body {
  padding: 20px;
  text-align: center;
}

.promise-dialog__title {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  overflow-wrap: break-word;
  text-align: center;
  line-height: 1.5;
}

.promise-dialog__content {
  margin-top: 10px;
  color: #666;
  font-size: 14px;
  overflow-wrap: break-word;
  text-align: center;
  line-height: 1.5;
}

.promise-dialog__html {
  margin-top: 10px;
  font-size: 14px;
  overflow-wrap: break-word;
}

.promise-dialog__control {
  margin-top: 10px;
  min-width: 256px;
}

.promise-dialog__input::placeholder {
  color: #BBB;
}

.promise-dialog__input,
.promise-dialog__textarea {
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 2px;
  appearance: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  padding: 5px 10px;
}

.promise-dialog__textarea {
  resize: none;
}

.promise-dialog__actions {
  border-top: 1px solid #ddd;
  display: flex;
}

.promise-dialog__button {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border: 0 none;
  cursor: pointer;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  appearance: none;
  font-weight: 500;
}

.promise-dialog__button + .promise-dialog__button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  height: 20px;
  border-left: 1px solid #eee;
}

.promise-dialog__cancel {
  color: #777;
}

.promise-dialog__button:focus {
  outline: none;
}

.promise-dialog__toast {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
  min-width: 160px;
  max-width: 240px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
}

.promise-dialog__toastIcon {
  display: inline-flex;
  margin-bottom: 8px;
  width: 36px;
  height: 36px;
}

.promise-dialog__loading {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
  min-width: 160px;
  padding: 30px 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes circle {
  100% {
    transform: rotate(360deg);
  }
}

.promise-dialog__loadingIcon {
  width: 36px;
  height: 36px;
  animation: circle 1s infinite linear;
}

.promise-dialog__loading .promise-dialog__title {
  margin-top: 10px;
}
